<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/script2.js"></script>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="https://kit.fontawesome.com/f54fd41071.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/font-awesome.css">
    <link href="https://fonts.googleapis.com/css?family=Cuprum" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="icon" href="img/logoTGK.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>ТГК</title>
</head>
<body>
<div id="index"></div>
<nav class="navbar navbar-expand-lg navbar-light" style="border-bottom: 1px solid #E1E1E1;">
    <div class="container">
        <a href="/" class="navbar-brand">
            <img src="img/logoTGK2.png" width="101px" height="100px" alt="logo">
        </a>
        <p id="phonenumber">+7(905)-325-62-50 <br>
         <a href="mailto:tgk.ooo@mail.ru" style="color: #17A2B8;font-size: 24px; ">tgk.ooo@mail.ru</a></p>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expended="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto nav-icon">
                <li class="nav-item active">
                    <a href="index.html" class="nav-link"><i class="fa fa-home"></i>Главная</a>
                </li>
                <li class="nav-item">
                    <a href="about.html" class="nav-link"><i class="fa fa-info" style="padding-right: 14px; padding-left: 6px;"></i>О компании</a>
                </li>
                <li class="nav-item">
                    <a href="services.html" class="nav-link"><i class="fa fa-server"></i>Услуги</a>
                </li>
                <li class="nav-item">
                    <a href="contacts.html" class="nav-link"><i class="fa fa-map-marker"></i>Контакты</a>
                </li>
                <li sec:authorize="!isAuthenticated()" class="nav-item">
                    <a href="login.html" class="nav-link"><i class="fa"></i>Вход</a>
                </li>
                <li sec:authorize="!isAuthenticated()" class="nav-item">
                    <a href="reg.html" class="nav-link"><i class="fa"></i>Регистрация</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a href="lk.html" class="nav-link"><i class="fa fa-home"></i>ЛК</a>
                </li>
            </ul>

        </div>
    </div>
</nav>


<div class="container-fluid" style="margin: 0px; padding: 0px;">
    <div class="carousel">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active style-slider" data-interval="3000">
                    <img class="d-block w-100" src="img/004.jpg" alt="First slide" height="auto">
                </div>
                <div class="carousel-item style-slider" data-interval="3000">
                    <img class="d-block w-100" src="img/002.jpg" alt="Second slide" height="auto">
                </div>
                <div class="carousel-item style-slider" data-interval="3000">
                    <img class="d-block w-100" src="img/003.jpg" alt="Third slide" height="auto">
                </div>
                <div class="carousel-item style-slider" data-interval="3000">
                    <img class="d-block w-100" src="img/001.jpg" alt="Fourth  slide" height="auto">
                </div>
                <div class="carousel-item style-slider" data-interval="3000">
                    <img class="d-block w-100" src="img/005.jpg" alt="Fourth  slide" height="auto">
                </div>
                <div class="carousel-item style-slider" data-interval="3000">
                    <img class="d-block w-100" src="img/006.jpg" alt="Fourth  slide" height="auto">
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

    <div class="container-fluid"
         style="background-color: #17A2B8; margin-top: -25px; padding-top: 7px ;padding-bottom: 7px;">
        <div class="container">
            <div class="contact-area">
                <div class="row">
                    <div class="col-md-12 col-lg-4 text-center justify-content-center" style="margin: 15px 0;">
                        <div class="contact-icon">
                            <i class="fa fa fa-phone fa-rotate-90" style="font-size: 35px;"></i>
                        </div>
                        <div class="media-body">
                            <h6>Наш телефон</h6>
                            <h5 style="color: white;">+7(905)-325-62-50</h5>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4 text-center justify-content-center" style="margin: 15px 0;">
                        <div class="contact-icon">
                            <i class="far fa-envelope"></i>
                        </div>
                        <div class="media-body">
                            <h6>Наша почта</h6>
                            <h5><a href="mailto:tgk.ooo@mail.ru" style="color: white;">tgk.ooo@mail.ru</a></h5>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4 text-center justify-content-center" style="margin: 15px 0;">
                        <div class="contact-icon">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <div class="media-body">
                            <h6>Мы работаем</h6>
                            <h5 style="color: white;">Пн - Пт 08.00 - 17.00</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="container text-center justify-content-center">
            <h2 style="margin: 40px 0 25px 0;">Схема работы</h2>
        </div>
    </div>

    <div class="container-fluid">
        <div class="container">
            <div class="row justify-content-center ">
                <div class="col-sm-4 col-lg-2 text-center justify-content-center scheme-item">
                    <div class="scheme-item-img "><img src="img/scheme1.png" alt=""></div>
                    <p class="scheme-item-text">Звонок</p>
                </div>
                <div class="col-sm-4 col-lg-2 text-center justify-content-center scheme-item">
                    <div class="scheme-item-img "><img src="img/scheme2.png" alt=""></div>
                    <p class="scheme-item-text">Заключение <br> договора</p>
                </div>
                <div class="col-sm-4 col-lg-2 text-center justify-content-center scheme-item">
                    <div class="scheme-item-img "><img src="img/scheme3.png" alt=""></div>
                    <p class="scheme-item-text">Выезд <br> на объект</p>
                </div>
                <div class="col-sm-4 col-lg-2 text-center justify-content-center scheme-item">
                    <div class="scheme-item-img "><img src="img/scheme4.png" alt=""></div>
                    <p class="scheme-item-text">Заключения <br> ЭПБ</p>
                </div>
                <div class="col-sm-4 col-lg-2 text-center justify-content-center scheme-item">
                    <div class="scheme-item-img "><img src="img/scheme5.png" alt=""></div>
                    <p class="scheme-item-text">Включение в <br> реестр ЭПБ</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid justify-content-center" style="margin: 70px 0 40px 0;">
        <div class="container text-center">
            <h2>Делаем экспертизы:</h2>
            <div class="row justify-content-center">
                <div class="col-xs-12 col-sm-12 col-lg-5 text-photo indent" style="margin-left: 0px;">
                    <h3 class="mb-20">Экспертиза технических <br>устройств</h3>
                    <img src="img/expertise1.png" alt="" class="man-scale2">
                    <p style="text-align: left; margin: 55px auto 20px auto; font-size: 14px; font-weight: 400">
                        Процедура оценки соответствия технических устройств и оборудования федеральным нормам и правилам
                        в области промышленной безопасности, если техническим регламентом не установлена иная форма
                        оценки.</p>
                    <button class="btn btn-info my-2 my-sm-0 button-buy" data-toggle="modal"><a href="/services"
                                                                                                class="st-a">Подробнее</a>
                    </button>
                </div>
                <div class="col-xs-12 col-sm-12 col-lg-5 text-photo indent" style="margin-left: 0px;">
                    <h3 class="mb-20">Экспертиза зданий и <br>сооружений</h3>
                    <img src="img/expertise2.png" alt="" class="man-scale2">
                    <p style="text-align: left; margin: 30px auto; font-size: 14px; font-weight: 400">Экспертиза с целью
                        определения соответствия зданий, сооружений на опасном производственном объекте, предназначенных
                        для хранения сырья/продукции, перемещения людей и грузов, локализации и ликвидации последствий
                        аварий, федеральным нормам и правилам в области промышленной безопасности.</p>
                    <button class="btn btn-info my-2 my-sm-0 button-buy" data-toggle="modal"><a href="/services"
                                                                                                class="st-a">Подробнее</a>
                    </button>
                </div>
                <div class="col-xs-12 col-sm-12 col-lg-5 text-photo indent" style="margin-left: 0px;">
                    <h3 class="mb-20">Разработка документов по <br>пром. безопасности</h3>
                    <img src="img/expertise4.png" alt="" class="man-scale2">
                    <p style="text-align: left; font-size: 14px; font-weight: 400; margin-top: 20px;">Наши специалисты
                        качественно и в сжатые сроки разработают для Вас документы для предоставления в
                        РОСТЕХНАДЗОР.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid justify-content-center" style="margin-bottom: 15px;">
        <div class="container text-center">
            <h2>Области аттестации:</h2>
        </div>
    </div>

    <div class="container-fluid">
        <div class="container">
            <div class="contact-area">
                <div class="row">
                    <div class="col-md-12 col-lg-4 justify-content-center permission" style="margin: 15px 0;">
                        <div class="contact-icon-2">
                            <i class="fa fa-circle-thin" style="color: #17A2B8"></i>
                        </div>
                        <div class="media-body-2">
                            <h3>Газоснабжение</h3>
                            <p>Опасные производственные объекты газоснабжения.</p>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4 justify-content-center permission" style="margin: 15px 0;">
                        <div class="contact-icon-2">
                            <i class="fa fa-circle-thin" style="color: #17A2B8;"></i>
                        </div>
                        <div class="media-body-2">
                            <h3>Химическая, нефтехимическая и <br>нефтеперерабаты-вающая промышленность</h3>
                            <p>Опасные производственные объекты химической, нефтехимической и нефтеперерабатывающей
                                промышленности, а также других взрывопожароопасных и вредных производств.</p>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4 justify-content-center permission" style="margin: 15px 0;">
                        <div class="contact-icon-2">
                            <i class="fa fa-circle-thin" style="color: #17A2B8;"></i>
                        </div>
                        <div class="media-body-2">
                            <h3>Тепло - и электроэнергетика</h3>
                            <p>Опасные производственные объекты тепло - и электроэнергетики, другие опасные
                                производственные объекты, использующие оборудование, работающее под давлением более 0,07
                                МПа или при температуре нагрева воды более 115 °C.</p>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4 justify-content-center permission" style="margin: 15px 0;">
                        <div class="contact-icon-2">
                            <i class="fa fa-circle-thin fa-rotate-90" style="color: #17A2B8"></i>
                        </div>
                        <div class="media-body-2">
                            <h3>Нефтепродукто-обеспечение</h3>
                            <p>Опасные производственные объекты нефтепродуктообеспечения.</p>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4 justify-content-center permission" style="margin: 15px 0;">
                        <div class="contact-icon-2">
                            <i class="fa fa-circle-thin" style="color: #17A2B8;"></i>
                        </div>
                        <div class="media-body-2">
                            <h3>Пищевая и масложировая промышленность</h3>
                            <p>Опасные производственные объекты пищевой и масложировой промышленности.</p>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4 justify-content-center permission" style="margin: 15px 0;">
                        <div class="contact-icon-2">
                            <i class="fa fa-circle-thin" style="color: #17A2B8;"></i>
                        </div>
                        <div class="media-body-2">
                            <h3>Металлургическая промышленность</h3>
                            <p>Опасные производственные объекты металлургической промышленности, и опасные
                                производственные объекты производства черных и цветных металлов.</p>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4 justify-content-center permission" style="margin: 15px 0;">
                        <div class="contact-icon-2">
                            <i class="fa fa-circle-thin fa-rotate-90" style="color: #17A2B8"></i>
                        </div>
                        <div class="media-body-2">
                            <h3>Грузоподъемные механизмы</h3>
                            <p>Опасные производственные объекты, на которых используются стационарно установленные
                                грузоподъемные механизмы.</p>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4 justify-content-center permission" style="margin: 15px 0;">
                        <div class="contact-icon-2">
                            <i class="fa fa-circle-thin" style="color: #17A2B8;"></i>
                        </div>
                        <div class="media-body-2">
                            <h3>Растительное сырье</h3>
                            <p>Опасные производственные объекты хранения, переработки и использования растительного
                                сырья.</p>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4 justify-content-center permission" style="margin: 15px 0;">
                        <div class="contact-icon-2">
                            <i class="fa fa-circle-thin" style="color: #17A2B8;"></i>
                        </div>
                        <div class="media-body-2">
                            <h3>Водоподготовка</h3>
                            <p>Химически опасные производственные объекты систем водоподготовки.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid justify-content-center">
        <div class="container text-center">
            <h2>О компании</h2>
        </div>
    </div>

    <div class="container-fluid justify-content-center" style="margin-top: 35px;">
        <div class="container text-center">
            <p>В компании ТГК в Саратове вы можете заказать проведение профессиональной экспертизы промбезопасности
                вашего предприятия на выгодных условиях. Мы работаем на основании лицензии, предлагаем доступные
                расценки, гарантируем оперативность и строгое соблюдение требований законодательства.</p>
            <p>В штат компании входят опытные эксперты, работающие с выездом. Процедура экспертной оценки включает
                анализ документации и изучение состояния сооружений, зданий, оборудования. Все объекты проверяются по
                параметрам, регламентированным актами о безопасности на промышленных предприятиях.</p>
            <p>ТГК — это быстрая и квалифицированная экспертная помощь для вашего предприятия!</p>
        </div>
    </div>

    <!--

    <!DOCTYPE HTML>

    <html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TGK</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" th:href="@{/css/style.css}"/>
        <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
    </head>
    </html>

    -->

    <div class="container-fluid justify-content-center" style="margin: 40PX auto 20px auto;">
        <div class="container text-center">
            <h2>Наши лицензии:</h2>
        </div>
    </div>

    <div class="container" style="margin: 10px auto 60px auto;">
        <div class="row indent-img justify-content-center text-center">
            <div class="col-md-12 col-lg-3"><img src="img/APB.jpg" alt=""></div>
            <div class="col-md-12 col-lg-3"><img src="img/APB2.jpg" alt=""></div>
            <div class="col-md-12 col-lg-3"><img src="img/APB3.jpg" alt=""></div>
        </div>
        <div class="row indent-img justify-content-center text-center">
            <div class="col-md-12 col-lg-3"><img src="img/MCHS1.jpg" alt=""></div>
            <div class="col-md-12 col-lg-3"><img src="img/MCHS2.jpg" alt=""></div>
        </div>

        <div class="container-fluid justify-content-center" style="margin: 40PX auto 20px auto;">
            <div class="container text-center">
                <h2>Наши свидетельства:</h2>
            </div>
        </div>

        <div class="container" style="margin: 50px auto 0px auto;">
            <div class="row indent-img justify-content-center text-center">
                <div class="col-md-12 col-lg-3"><img src="img/sv1.jpg" alt=""></div>
                <div class="col-md-12 col-lg-3"><img src="img/sv2.jpg" alt=""></div>
                <div class="col-md-12 col-lg-3"><img src="img/sv3.jpg" alt=""></div>
            </div>
        </div>

        <div class="container" style="margin: 0px auto 60px auto;">
            <div class="row indent-img justify-content-center text-center">
                <div class="col-md-12 col-lg-3"><img src="img/svid.jpg" alt=""></div>
            </div>
        </div>


        <div class="container-fluid justify-content-center" style="margin: 30PX auto 20px auto;">
            <div class="container text-center">
                <h2>Наши преимущества</h2>
            </div>
        </div>


        <div class="container-fluid">
            <div class="container">
                <div class="contact-area">
                    <div class="row">
                        <div class="col-md-12 col-lg-4 justify-content-center permission" style="margin: 15px 0;">
                            <div class="contact-icon-2">
                                <i class="fa fa-user-o" style="font-size: 35px;color: #17A2B8"></i>
                            </div>
                            <div class="media-body-2">
                                <h3>Эксперты</h3>
                                <p>Эксперты 1 категории с большим опытом</p>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4 justify-content-center permission" style="margin: 15px 0;">
                            <div class="contact-icon-2">
                                <i class="fa fa-rub" style="color: #17A2B8;"></i>
                            </div>
                            <div class="media-body-2">
                                <h3>Цена</h3>
                                <p>Максимально выгодная цена для клиента</p>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4 justify-content-center permission" style="margin: 15px 0;">
                            <div class="contact-icon-2">
                                <i class="fa fa-check" style="color: #17A2B8;"></i>
                            </div>
                            <div class="media-body-2">
                                <h3>Сроки</h3>
                                <p>Минимальные сроки выполнения работ</p>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4 justify-content-center permission" style="margin: 15px 0;">
                            <div class="contact-icon-2">
                                <i class="fa fa-support" style="font-size: 35px;color: #17A2B8"></i>
                            </div>
                            <div class="media-body-2">
                                <h3>Подход</h3>
                                <p>Современный подход к поставленной задаче</p>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4 justify-content-center permission" style="margin: 15px 0;">
                            <div class="contact-icon-2">
                                <i class="fa fa-briefcase" style="color: #17A2B8;"></i>
                            </div>
                            <div class="media-body-2">
                                <h3>Легко Работа</h3>
                                <p>Работа под ключ (от заявки до внесения в реестр положительных экспертиз)</p>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4 justify-content-center permission" style="margin: 15px 0;">
                            <div class="contact-icon-2">
                                <i class="fa fa-cog" style="color: #17A2B8;"></i>
                            </div>
                            <div class="media-body-2">
                                <h3>Качество</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid justify-content-center" style="margin: 80px 0 40px 0;">
            <div class="container text-center">
                <h2>Последние новости</h2>
                <div class="row justify-content-center">
                    <div class="col-xs-12 col-sm-12 col-lg-6 text-photo indent">
                        <h3 class="mb-20 style-h3-news">В Финляндии состоялось ежегодное совещание Ростехнадзора с
                            Центром радиационной и ядерной безопасности</h3>
                        <p class="style-text">4 февраля 2020 года в Хельсинки состоялось ежегодное совещание,
                            посвященное подведению итогов сотрудничества в 2019 году и формированию программы
                            взаимодействия на 2020 год между Ростехнадзором, делегацию которого возглавлял заместитель
                            руководителя ведомства Алексей Ферапонтов, и Центром радиационной и ядерной безопасности
                            Финляндии (STUK). Ростехнадзор: Федеральные новости</p>
                        <button class="btn btn-info my-2 my-sm-0 button-buy" data-toggle="modal"><a href="/services"
                                                                                                    class="st-a">Прочитать
                            больше</a></button>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-lg-6 text-photo indent">
                        <h3 class="mb-20 style-h3-news">Алексей Алёшин принял участие в церемонии пуска Зарамагской
                            ГЭС-1</h3>
                        <p class="style-text">Заместитель председателя Правительства Российской Федерации Юрий Борисов,
                            министр энергетики Александр Новак, глава Республики Северная Осетия – Алания Вячеслав
                            Битаров и председатель правления – генеральный директор "РусГидро" Николай Шульгинов дали
                            старт работе Зарамагской ГЭС-1. В торжественной церемонии, посвященной вводу
                            гидроэлектростанции в эксплуатацию, приняли участие руководитель Федеральной службы по
                            экологическому, технологическому и атомному надзору (Ростехнадзор) Алексей Алёшин и
                            заместитель руководителя Дмитрий Фролов.Ростехнадзор: Федеральные новости</p>
                        <button class="btn btn-info my-2 my-sm-0 button-buy" data-toggle="modal"><a href="/services"
                                                                                                    class="st-a">Прочитать
                            больше</a></button>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-lg-6 text-photo indent">
                        <h3 class="mb-20 style-h3-news">Ростехнадзор информирует о проведении Коллегии службы</h3>
                        <p class="style-text">21 февраля 2020 года состоится заседание Коллегии Федеральной службы по
                            экологическому, технологическому и атомному надзору (Ростехнадзор) «Об итогах работы
                            Федеральной службы по экологическому, технологическому и атомному надзору в 2019 году и
                            задачах на 2020 год».Ростехнадзор: Федеральные новости</p>
                        <button class="btn btn-info my-2 my-sm-0 button-buy" data-toggle="modal"><a href="/services"
                                                                                                    class="st-a">Прочитать
                            больше</a></button>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-lg-6 text-photo indent">
                        <h3 class="mb-20 style-h3-news">Сибирским управлением Ростехнадзора предотвращена авария на
                            шахте «Березовская»</h3>
                        <p class="style-text">В рамках внедрения дистанционного контроля и развития многофункциональной
                            системы безопасности в Сибирское управление Ростехнадзора в режиме онлайн поступает
                            информация о состоянии промышленной безопасности предприятия от поднадзорных шахт. Так, 15
                            января 2020 года в Управление поступила информация о превышении более чем в полтора раза
                            предельно допустимых концентраций содержания метана (до 3,3%) в подготовительном забое шахты
                            Березовская, зафиксированная стационарными датчиками контроля метана.Ростехнадзор:
                            Федеральные новости</p>
                        <button class="btn btn-info my-2 my-sm-0 button-buy" data-toggle="modal"><a href="/services"
                                                                                                    class="st-a">Прочитать
                            больше</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        <footer class="page-footer font-small unique-color-dark pt-0">
            <div class="info-color">
                <div class="container">
                    <div class="row py-4 d-flex align-items-center">
                        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                            <h6 class="mb-0 white-text">ООО "ТГК" Адрес: 410004, г. Саратов, ул. 2 Садовая, д. 9Б, литер
                                В, оф. 4.</h6>
                        </div>
                        <div class="col-md-6 col-lg-7 text-center text-md-right icon-footer-font">
                            <a href="mailto:tgk.ooo@mail.ru" class="fb-ic ml-0">
                                <i class="fa fa-at white-text mr-4"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <button id="top"><i class="fa fa-chevron-up"></i></button>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
        <script src="js/script.js"></script>
        <script src="js/main.js"></script>
</body>
</html>